# data mentah / RAW
accepted_2007_to_2018Q4.csv
rejected_2007_to_2018Q4.csv

# hasil cleaning
clean_accepted_loans.csv
clean_accepted_loans2.csv
clean_rejected_loans.csv
clean_rejected_loans2.csv
clean_accepted_loan_without_scaling.csv
clean_for_apriori_accepted.csv
clean_for_apriori_rejected_columns.json
clean_for_apriori_rejected_sparse.npz

*.csv

# Fase 2 - kirim file langsung untuk proses Fase 4/5 bila perlu.
Phase 2 Clustering/Results/cluster_labels_rejected.parquet